@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2rem;
}

.container {
    max-width: 950px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

note-item {
    display: block;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, textarea, button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    font-size: 1.1rem;
    cursor: pointer;
}

.edit-btn{
    background-color: #007BFF;
    color: #fff;
}

.delete-btn{
    background-color: #DC3545;
    color: #fff;
}

.add-btn{
    font-weight: bold;
    background-color: #007BFF;
    color: #FFF;
    margin-bottom: 2rem;
}

footer{
    text-align: center;
    background-color: #0D92F4;
    color: #FFF;
    font-weight: 600;
    padding: 2rem;
    position: fixed;
}

app-bar {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background-color: #006BFF;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}